---
import Title from "./utils/Title.astro";
import avatar from "/public/assets/images/avatar.webp";
const CV = 'https://drive.google.com/file/d/1y2BSowFNiXffTIFVB8981kwFJqNxPrwd/view';
import ButtonPrimary from "./utils/ButtonPrimary.astro";
import { contact } from "./Contact.astro";
import ButtonSecondary from "./utils/ButtonSecondary.astro";
---

<section class="px-3 md:px-10 mt-10">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-10 gap-y-6">
        <article class="flex flex-col justify-evenly gap-5 text-xl">
            <Title>ACERCA DE MI</Title>
            <p>Soy un apasionado editor de video y diseñador gráfico con años de experiencia en el campo. Mi creatividad y atención al detalle me permiten transformar ideas en historias visuales impactantes.</p>     
            <p>Me encanta explorar nuevas técnicas y tendencias, siempre buscando innovar y mejorar mis habilidades. He tenido la oportunidad de trabajar en una variedad de proyectos. Cada proyecto es una nueva aventura, y disfruto cada paso del proceso creativo, desde la conceptualización hasta la postproducción.</p>
            <p>Mi objetivo es siempre superar las expectativas del cliente, entregando productos visuales que no solo cumplan con sus necesidades, sino que también sorprendan y deleiten a su audiencia.</p>
        
            <div class="flex gap-x-4">
                <a href={contact.whatsapp} target="_blank"><ButtonPrimary>CONTACTO</ButtonPrimary></a>
                <a href={CV} target="_blank"><ButtonSecondary>CURRICULUM</ButtonSecondary></a>
                <!-- download="Agustin-Altamirano-CV.pdf" -->
            </div>
        </article>

        <article class="w-full animate-entry fade-in">
            <img src={avatar.src} loading="lazy" alt="Agustin Altamirano" class=" w-full h-full object-cover rounded-3xl aspect-auto">
        </article>
    </div>
</section>