---
import Title from "./utils/Title.astro";
import editImage from "/public/assets/images/edit.webp";
import ServiceCard from "./utils/ServiceCard.astro";
---

<section class="grid gap-6 lg:gap-20 lg:grid-cols-2 px-3 md:px-10">
  <article class="flex flex-col gap-6 justify-between">
    <Title>SERVICIOS</Title>
    <div class="h-full">
      <img
        src={editImage.src}
        alt="Imagen de edición de video"
        class="rounded-[3rem] object-cover h-full w-full"
        loading="lazy"
      />
    </div>
  </article>

  <article class="flex flex-col gap-6 justify-evenly px-2">
    <ServiceCard title="Edición de video vertical">
      Material dinámico y llamativo destinado a redes como reels, shots, tiktok,
      etc. Con ajuste de proporciones, efectos visuales adaptados a formato
      vertical, transiciones, integración de texto y gráficos animados
    </ServiceCard>

    <ServiceCard title="Edición de Videos Musicales">
      Creación de videos musicales que capturan la esencia de la música y la
      visión artística del músico o banda. Sincronización de audio y video,
      edición rítmica, efectos especiales básicos, corrección de color y
      narrativa visual.
    </ServiceCard>

    <ServiceCard title="Edición para Televisión">
      Edición de contenido profesional para emisiones de televisión, incluyendo
      comerciales, entrevistas y documentales. Corrección de color, mezcla de
      audio, conformidad con estándares de emisión, integración de gráficos,
      inserts y subtítulos
    </ServiceCard>
  </article>
</section>
