---
const { className, title } = Astro.props;
---

<article class:list={['', className]}>
    <h3 class="text-amber-500 uppercase text-xl lg:text-2xl 2xl:text-3xl font-black font-basic-sans text-pretty">{title}</h3>
    <p class="font-sans font-normal lg:text-xl 2xl:text-2xl text-pretty"><slot /></p>
</article>